body {
    font-family: 'Noto Sans Khmer', sans-serif;
}

.small-scroll::-webkit-scrollbar {
    width: 4px;
}

.small-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.small-scroll::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
}